@model List<MVC_VB2.Models.Bier>

@{
    ViewBag.Title = "Bieren";
}

<h2>Bieren</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Alcohol</th>
            <th>Verwijder</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var bier in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => bier.ID)</td>
                <td>@Html.DisplayFor(m => bier.Naam)</td>
                <td>@Html.DisplayFor(m => bier.Alcohol)</td>
                <td> <a href='@Url.Action("Verwijderen", "Bier", new { ID = bier.ID })'> <img src="~/Content/Images/delete.png" alt="Delete" /> </a> </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Bier toevoegen", "Toevoegen", "Bier", null, new { @class = "btn btn-primary" })