@model List<MVC_VB2.Models.Persoon>

@{
    ViewBag.Title = "Personen";
}

<h2>Personen</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Voornaam</th>
            <th>Familienaam</th>
            <th>Score</th>
            <th>Wedde</th>
            <th>Paswoord</th>
            <th>Geboren</th>
            <th>Gehuwd</th>
            <th>Opmerkingen</th>
            <th>Geslacht</th>
            <th>Verwijderen</th>
            <th>Wijzigen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persoon in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => persoon.ID)</td>
            <td>@Html.DisplayFor(m => persoon.Voornaam)</td>
            <td>@Html.DisplayFor(m => persoon.Familienaam)</td>
            <td>@Html.DisplayFor(m => persoon.Score)</td>
            <td>@Html.DisplayFor(m => persoon.Wedde)</td>
            <td>@Html.DisplayFor(m => persoon.Paswoord)</td>
            <td>@Html.DisplayFor(m => persoon.Geboren)</td>
            <td>@Html.DisplayFor(m => persoon.Gehuwd)</td>
            <td>@Html.DisplayFor(m => persoon.Opmerkingen)</td>
            <td>@Html.DisplayFor(m => persoon.Geslacht)</td>
            <td> <a href='@Url.Action("VerwijderForm", "Persoon", new { ID = persoon.ID })'> <img src="~/Content/Images/delete.png" alt="Delete" /> </a> </td>
            <td> <a href='@Url.Action("EditForm", "Persoon", new { ID = persoon.ID })'> <img src="~/Content/Images/edit.png" alt="Edit" /> </a> </td>
        </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Opslag Geven", "Opslag", "Persoon", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Zoeken op wedde", "VanTotWedde", "Persoon", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Persoon toevoegen", "Toevoegen", "Persoon", null, new { @class = "btn btn-primary" })