@model MVC_VB2.Models.Persoon

@{
    ViewBag.Title = "Home Page";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "update",
        Url = Url.Action("GetTime"),
        LoadingElementId = "checking",
        LoadingElementDuration = 1000
    };
}

<div class="jumbotron">

    <h1>Cookies</h1>
    <p class="lead">@ViewBag.Tijdstip</p>
    <p><a href="~/Home/Wissen" class="btn btn-primary btn-lg">Cookie wissen &raquo;</a></p>

    <h1>Session state</h1>
    <p class="lead">Welkom, dit is jouw @Session["aantalBezoeken"]e bezoek.</p>
    <p><a href="~/Home/WissenSession" class="btn btn-primary btn-lg">Sessionvariabele wissen &raquo;</a> </p>

    <h1>Application state</h1>
    <p class="lead">Deze pagina werd in totaal reeds @HttpContext.Current.Application["aantalBezoeken"] keer bezocht.</p>
    <p><a href="~/Home/WissenApplication" class="btn btn-primary btn-lg">Applicationvariabele wissen &raquo;</a></p>
</div>

<div class="well">
    @using (Html.BeginForm())
    {
        <div>
            <p class="lead">Het is nu @DateTime.Now</p>
            <button type="submit" class="btn btn-primary">Bijwerken</button>
        </div>
    }
</div>

<div class="well">
    <div id="checking" style="display:none; color:red">
        <p>Checking the time...</p>
    </div>
    <div id="update">
        @Html.Action("GetTime")
    </div>
    @using (Ajax.BeginForm(ajaxOpts))
    {
        <div>
            <button type="submit" class="btn btn-primary">Bijwerken</button>
        </div>
    }
</div>