@model List<MVC_VB2.Models.Filiaal>
<h2>Filialen</h2>
<ul>
    @foreach (var filiaal in Model)
    {
        <li>
            @filiaal.ID @filiaal.Naam @MyHelpers.Milieuscore(filiaal.Gebouwd) @Html.DisplayFor(m => filiaal.Gebouwd) @Html.DisplayFor(m => filiaal.Waarde) @Html.DisplayFor(m => filiaal.Eigenaar)
        </li>
    }
</ul>